# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=your_database_user_here
DATABASE_PASSWORD=your_database_password_here
DATABASE_NAME=your_database_name_here
POSTGRES_USER=your_database_user_here
POSTGRES_PASSWORD=your_database_password_here
POSTGRES_DB=your_database_name_here

# Backend
RESEND_API_KEY=your_resend_api_key_here
PASSWORD_PEPPER=your_secret_pepper_here
BCRYPT_SALT_ROUNDS=12
MFA_EXPIRATION_MINUTES=5

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
