# Dependencies
node_modules/

# Environment variables
.env

# Next.js build output
.next/
*.tsbuildinfo

# NestJS build output
dist/

# Database data
pgdata/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
